.ganadoresUsuarios{
   
    height: 100vh;
}

.compDisponibles{
    display: flex;
    flex-direction: column;
    margin-bottom: 12rem;
}
.registroAtletas{
    display: flex;
    justify-content: center;
    

}
.contGanadores{
    margin: 1rem;
}