.crearCompeencia{
    position: relative;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
.competenciasCreadas{
    height: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 12rem;
}
.seccionGanadores{
    display: flex;
    height: 100vh;
    flex-direction: column;
}

.seccionTiempo{
    height: 100dvh;
}
.titulos{
    position: relative;
    top: 5rem;
    margin: auto;
    font-weight: 500;
    text-align: center;
}

@media only screen and (min-width: 768px){
    .crearCompeencia{
        height: 110lvb;
    }
}